name: Testing runner

on:
  push:
    branches:
        - main
        - master

jobs:
  build:
    runs-on:
        - self-hosted
    steps:
        # Checkout the repository code.
        - uses: actions/checkout@v2

        - name: Move plugin directory to another required
          env: 
            plugin_directory: ${{ vars.PLUGIN_DIRECTORY }}
            repo_name: ${{ github.event.repository.name }}
          run: |
            
            home_path=/bitnami/moodle
            local_path=$home_path/local
            work_path=$home_path/actions-runner/$plugin_directory/_work/$repo_name/$repo_name/$plugin_directory
            cp -r  $work_path $home_path
            echo moving directories... DONE
