name: Testing runner

on:
  push:
    branches:
        - main
        - master

jobs:
  build:
    runs-on:
        - self-hosted
    steps:
        # Checkout the repository code.
        - uses: actions/checkout@v2

        - name: Move plugin directory to another required
          env: 
            work_directory: ${{ vars.WORK_DIRECTORY }}
            plugin_directory: ${{ vars.PLUGIN_DIRECTORY }}
            repo_name: ${{ github.event.repository.name }}
          run: |
            home_path=/bitnami/moodle/local
            work_path=$home_path/actions-runner/$plugin_directory
            cd $work_path
            cd $work_path/local
            cp -r $workpath/$plugin_directory/work/$repo_name/$plugin_directory/ .
            echo moving directories... DONE
