name: Testing runner

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on:
        - self-hosted
    steps:
        # Checkout the repository code.
        - uses: actions/checkout@v2

        - name: Move plugin directory to another required
          env: 
            local_directory: ${{ vars.LOCAL_DIRECTORY }}
            work_directory: ${{ vars.WORK_DIRECTORY }}
            plugin_directory: ${{ vars.PLUGIN_DIRECTORY }}
            repo_name: ${{ github.event.repository.name }}
          run: |
            echo "$local_directory"
            echo $local_directory
            echo "--------------"
            echo "$repo_name"
            echo $repo_name
            echo "--------------"
            echo "${{ github.event.repository.name }}"
            echo ${{ github.event.repository.name }}
            echo "--------------"
            cd $HOME/actions-runner/
            if [ ! -d "$local_directory" ]; then
              mkdir "$local_directory"
              echo "Directory \"$local_directory\" was created."
            fi
            cd $HOME/actions-runner/local
            cp -r $HOME/actions-runner/$work_directory/$repo_name/$repo_name/$plugin_directory/ .
            echo moving directories... DONE
