name: Testing runner

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on:
        - self-hosted
    steps:
        # Checkout the repository code.
        - uses: actions/checkout@v2
        - name: Run a one-line script
          run: echo Hello, world! This is my first action on GitHub Actions with Self Hosted
        - name: Move plugin floder to specific folder
          run: |
            cd /home/rayfi/actions-runner/local
            mv /home/rayfi/actions-runner/local/actions-runner/moodle/test-moodle-cicd/test-moodle-cicd/aws/ .
            echo moving directories... DONE
