name: Testing runner

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on:
        - self-hosted
    steps:
        # Checkout the repository code.
        - uses: actions/checkout@v2

        - name: Move plugin floder to specific folder
          run: |
            cd $HOME/actions-runner/
            local_directory="local"
            work_directory="moodle"
            $plugin_directory="aws"
            repo_directory="test-moodle-cicd"
            if [ ! -d "$local_directory" ]; then
              mkdir "$local_directory"
              echo "Directory \"$local_directory\" was created."
            fi
            cd $HOME/actions-runner/local
            cp -r $HOME/actions-runner/$work_directory/$repo_directory/$repo_directory/$plugin_directory/ .
            echo moving directories... DONE
